fastapi
uvicorn
google-genai
google-generativeai
supabase
pydantic>=2.0.0
pydantic-settings
python-dotenv
apscheduler
requests
langchain
langchain-google-genai
langchain-community
pypdf
python-multipart
openai
tiktoken